.app_mobile {
    color: white;
    padding: 30px;
    display: none;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text_bold {
    font-weight: bold !important;
}

.align_flex_end {
    align-self: flex-end !important;
}

aside.emoji-picker-react {
    width: 100% !important;
}

.loader {
    width: 22px;
    height: 22px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.slick-next {
    right: -10px !important;
}

.slick-prev {
    left: -10px !important;
    z-index: 100;
}

.css-1mcnwpj-MuiList-root {
    min-width: 160px !important;
    max-width: 200px !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    top: 75px !important;
}

.css-10hburv-MuiTypography-root {
    font-weight: bold !important;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 35px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    background-color: transparent !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar {
    display: none !important;
}

/* PC */
@media (min-width: 64em) {}

/* IPAD Pro */
@media (max-width: 64em) {}

/* TABLET & MOBILE */
@media (max-width: 63.9375em) {}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {}

/* MOBILE */
@media (max-width: 46.25em) {
    /* .app_mobile {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app {
        display: none;
    } */
}