:root {
  /* --color-primary: #ff5ca1; */
  --color-logo-messenger: #1972e7;
  --color-disabled: #ccc;
  --color-flag-emoji: #f6fafd;
  --color-white: white;
  --color-bottom-file-application: #3a3b3c;
  --color-message-container: #242526;
  --color-message-text: #666666;
  --color-content-message-text-user1: #3a3b3c;
  --color-modal: rgba(0, 0, 0, 0.5);
  --color-danger: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242526;
}